services:
  backend:
    build:
      context: ./backend
    env_file: ./.env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    env_file: ./.env
    ports:
      - "3000:3000"
    depends_on:
      - backend
