services:
  backend:
    build:
      context: ./backend
    env_file: ./.env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    env_file: ./.env
    ports:
      - "3000:3000"
    depends_on:
      - backend

  qdrant:
    image: qdrant/qdrant:v1.9.6
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
